#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.row {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 25%;
    min-width: 300;
    min-height: auto;
    align-content: stretch;
}